/* .MainDiv {
    display:flex;
    flex-direction: column;
    width: 33%;
    float: right;
    height: 90vh;
    
}

.Back {
   min-height: 350px;
   border-radius: 20px;
}

.Front {
    min-height: 350px;
    border-radius: 20px;
} */