/* .MainDiv {
    display:flex;
    flex-direction: column;
    width: 33%;
    float: right;
    height: 100vh;
}

.Back {
    
    min-height: 207px;
     border: 5px solid rgb(112, 7, 116);
     border-style: outset;

 }

 .Front {

    border-style: inset;
    min-height: 207px;
    border: 5px solid rgb(132, 0, 255);
 }
  */