ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8vh;
  background-image: url("https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  margin: 0;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

li {
  list-style-type: none;
  font-size: 2em;
  text-decoration: bold;
}

.fakeUL {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 14vh;
  margin: 0;
  color: white;
  background-position: center;
  min-height: 30px;
 

}

.fakeLI {
  width: 33%;
  /* text-align: center; */
}

.nav {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}