ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8vh;
  background-color: rgb(7, 167, 153);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
  list-style-type: none;
  font-size: 2em;
  text-decoration: underline;
  color: antiquewhite;
}

